.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #c8bae3;
  display: grid;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". header header ."
    ". nav nav ."
    "main main main sidebar"
    "main main main sidebar"
}

h1, h2, h3, h4, h5, button {
  font-family: 'Eczar', serif;
}

p, li, span {
  font-family: 'Ubuntu', sans-serif;
}

button { 
  padding: 0 0.5rem;
  margin: 0 0.25rem;
  background-color: #242124;
}


/* Header and Logo */

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  grid-area: header;
}

.App-header h1 {
  font-family: 'Eczar', serif;
  -webkit-box-reflect: below -20px linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.05));
}

#logo {
  height: 10vmin;
  -webkit-box-reflect: below 0px linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}

/* Filter and NavBar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: nav;
}

.filter {
  border-radius: 25px;
  padding: 2% 10%;
  margin: 1%;
  background-color: #E5E4E2;
  display: flex;
  justify-content: space-between;
}

.search {
  box-sizing: border-box;
  margin: 0% 1%;
  display: flex;
  justify-items: center;
  align-content: center;
}

.search input {
  border: 1px solid grey;
  position: inherit;
}

.search button {
  border-left: 0px; 
  margin-left: 0px;
  cursor: pointer;
}

/* Main Section */

main {
  width: 100%;
  height: 100%;
  grid-area: main;
  box-sizing: border-box;
}

/* Post Boxes  */

/* Loading  */

.post-box-loading {
  background-color: #E5E4E2;
  border-radius: 25px;
  grid-area: main;
  margin-left: 2%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  padding: 2%;
  box-sizing: border-box;
  place-content: start center;
}

.load-image {
  height: 10vmin;
  animation: rotate 2s infinite;
}

.load-text {
  font-family: 'Amatic SC', cursive;
  color: #DC143C;
  font-size: 3rem;
  font-weight: bold;
}

.fail-image {
  height: 10vmin;
  position: relative;
  animation: roll 4s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg)
  }
  75% {
    transform: rotate(270deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes roll {
  0% {
    right: 200px;
    transform: rotate(0deg);
  }
  50% {
    right: -200px;
    transform: rotate(360deg);

  }
  100% {
    right: 200px;
    transform: rotate(0deg);
  }
}

/* When loaded  */

.post-box {
  background-color: #E5E4E2;
  border-radius: 25px;
  grid-area: main;
  margin-left: 2%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  padding: 2%;
  box-sizing: border-box;
  justify-content: space-between;
}

.post-image {
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  object-fit: cover; 
  -webkit-box-reflect: right 0px linear-gradient(to right, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}

/* Settings for the default image */

.post-image-default {
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.75;
  -webkit-box-reflect: right 0px linear-gradient(to right, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}

.default-image-text {
  position: absolute;
  font-family: 'Eczar', serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-emphasis: bold;
  color: black;
  background-color: #CC8899;
  opacity: 0.75;
  padding: 10%;
}

.post-video {
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  object-fit: cover; 
}

.post-media-container {
  margin: 1%;
  height: 350px;
  width: 33%;
  box-sizing: border-box;
  position: relative;
}

/* Post Content.js */

.post-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;
}

.post-content-small {
  /* Used if there is only a title and no image */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

/* Post title */

header .post-title {
  width: 100%;
  height: auto;
  margin: 0 1rem;
  box-sizing: border-box;
}

.post-title h2 {
  font-size: 1.5rem;
  color: black;
  margin: 0;
  display: inline;
}

.post-flair {
  margin: 0 1%;
  font-size: 0.75rem;
  background-color: #c8bae3;
  padding: 0.5rem;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  display: inline-flex;
}

/* Post score */

.post-score {
  display: flex;
  flex-direction: column;
  width: 5%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.post-score figure {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote {
  width: 50%;
}

.vote-small {
  width: 50%;
  stroke: blue;
}

.score {
  font-weight: bolder;
  margin: 1% 0 5%;
}

/* Interactions */

.post-interactions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5%;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.post-interactions li {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  margin: 0 0.25rem;
  color: black;
  border-radius: 5px;
  font-family: 'Eczar', serif;
}

.post-interactions li a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.post-interactions li:hover, li:active {
  background-color: hsl(40, 5%, 80%);
}

.drop-down {
  float: left;
  overflow: hidden;
}

.drop-down .drop-down-button {
  border: none;
  outline: none;
  color: black;
  font-size: 0.9rem;
  padding: 0.5%;
  margin: 0 1%;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.drop-down-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.drop-down-content button, input {
  font-family: inherit; 
  position: relative;
  top: 7px;
  right: 4rem;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.drop-down-content input {
  width: auto;
}

.drop-down:hover .drop-down-content {
  display: block;
}

/* Comments */

.comment-list {
  background-color: #E5E4E2;
  border-radius: 25px;
  grid-area: main;
  margin-left: 2%;
  margin-bottom: 1%;
  padding: 2%;
  box-sizing: border-box;
  place-content: start center;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  text-align: left;
}

.comment-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.comment-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.comment-content header {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  box-sizing: border-box;
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 25px;
}

.comment-content header p {
  margin: 0;
  width: auto;
}

.comment-content header a {
  font-weight: normal;
  text-decoration: none;
  color: black;
}

.comment-content header a:link {
  color: black;
}

.comment-content header a:visited {
  color: black;
}

.comment-content header a:hover {
  font-weight: 600;
  text-decoration: underline;
  color: black;
}


.comment-content header time {
  margin: 0 1rem;
  font-style: italic;
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  height: fit-content;
}

.sidebar h2, h3 {
  font-family: 'Eczar', serif;
}

.rules {
  background-color: #242124;
  border: thick #CC7722 ridge;
  margin: 0 2%;
}

.rules h3 {
  color: #DC143C;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

.rules li {
  color: #fffff0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.colour-change {
  margin: 2%;
}

/* MEDIA RULES */

@media only screen and (max-width: 1000px) {
  .sidebar {
    grid-area: colorchange;
  }

  .rules {
    display: none;
  }

  .App {
    display: grid;
    grid-template-areas:
      "header header header header"
      "colorchange colorchange colorchange colorchange"
      "nav nav nav nav"
      "main main main main"
      "main main main main"
  }

  .post-box {
    margin-right: 2%;
  }

}

